@page "/dishes"
@using System.Text.Json
@using WEB_253503_KOTOVA.Domain.Entities
@using WEB_253503_KOTOVA.Domain.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IDataService DataService

<h3>Блюда дня</h3>

<AuthorizeView>
    <Authorized>
@if (DataService.Dishes == null || DataService.Dishes.Count == 0)
{
    <p>No dishes available.</p>
}

else 
{
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in DataService.Dishes)
            {
                <tr>
                    <td>@dish.Name</td>
                    <td>@dish.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(DataService.ErrorMessage))
{
    <p class="text-danger">@DataService.ErrorMessage</p>
}
</Authorized>
    <NotAuthorized>
        <p class="text-warning">You are not authorized to view this page. Please log in.</p>
    </NotAuthorized>

</AuthorizeView>
@code {
    protected override async Task OnInitializedAsync() => await DataService.GetProductListAsync();
}
